body {
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  background-color: #000000; /* Black background */
}

.navbar {
  background-color: #000000 !important; /* Black navbar */
}

.navbar-nav .nav-link {
  color: #FFD700 !important; /* Golden text */
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  color: #FFD700 !important; /* Golden active link */
}

.navbar-nav .nav-link:hover {
  color: #FFD700 !important; /* Golden hover link */
}

.hero {
  background: linear-gradient(135deg, #FFD700, #000000); /* Golden to black gradient */
  color: #ffffff;
  padding: 80px 0;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #FFD700; /* Golden text */
}

.hero p {
  font-size: 1.25rem;
  font-weight: 400;
}

.card {
  border: 1px solid #FFD700; /* Golden border */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 1.5rem;
  background-color: #333; /* Dark background for card */
  color: #FFD700; /* Golden text inside card */
}

.progress-bar {
  background-color: #FFD700; /* Golden progress bar */
}

.footer {
  background-color: #000000; /* Black footer */
  color: #FFD700; /* Golden footer text */
}

.footer p {
  margin: 0;
}

.btn-primary {
  background-color: #FFD700; /* Golden button */
  border-color: #FFD700;
}

.btn-primary:hover {
  background-color: #000000; /* Black button on hover */
  border-color: #000000;
  color: #FFD700; /* Golden text on hover */
}

.container {
  max-width: 1200px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  
  .hero p {
    font-size: 1rem;
  }
}

/* General section styling */
#skills {
  background-color: #333; /* Dark background for skills section */
}

.skill-item {
  background-color: #222; /* Dark background for skill items */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.skill-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.skill-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #FFD700; /* Golden title */
  margin-bottom: 15px;
}

.skill-title i {
  font-size: 1.5em;
  margin-right: 8px;
  color: #FFD700; /* Golden icons */
}

.progress-container {
  position: relative;
  height: 10px;
  background-color: #333; /* Dark background for progress */
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #FFD700; /* Golden progress bar */
}

.old-english-font {
  font-family: 'Old English Text MT', cursive;
  color: #FFD700; /* Golden old english font */
}
